script(src='/javascripts/qunit/qunit-1.10.0.js')
link(rel='stylesheet', href='/javascripts/qunit/qunit-1.10.0.css')
script(src='/javascripts/selectum/selection/selectionTests.js')
script(src='/javascripts/selectum/selection/selectionEvents.js')
script(src='/javascripts/selectum/selection/selectionObjects.js')
script(src='/javascripts/selectum/selection/selectionCalculations.js')

section(class="featured")
  div(class="content-wrapper")
      hgroup(class="title")
        h1=title 
        h2 QUnit Test Page
      p All the unit testing goodyness

section(class="main-content")
  h3 QUnit tests
  div#qunit
    